{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>WYS Team -「Force of software」</title>
		<link href="{% static 'index/css/index.css' %}" type="text/css" rel="stylesheet" />
		<link rel="shortcut icon" href="{% static 'index/img/ico.png' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"/>
		<script type="text/javascript" src="{% static 'index/js/hover_bg.js' %}" ></script>
	</head>
	<body>
		<div id="main">
			<div id="up-list">
				<img src="{% static 'index/img/logo.png' %}" id="logo" />
				<img src="{% static 'index/img/return.png' %}" id="return" />
				<span id="please_login">Please Login</span>
				<a id="help" href="#">帮助(H)</a>
			</div>
			<div id="card">
				<div id="wys-tools-inline">
					<div id="wys-tools">
						<img src="/static/index/img/wys-tools.jpg" id="wys-tools-img" />
						<p id="wys-tools-text">W Y S &nbsp&nbspT o o l s &nbsp&nbsp5</p>
						<p id="wys-tools-text2">即 将 上 线</p>
					</div>
				</div>

				<div id="two-three-main">
					<div id="two-three-2">
						<div id="soft-download">
							<img src="/static/index/img/01-.jpg" id="soft-download-img" />
							<p id="soft-download-text">软 件 下 载</p>
							<p id="soft-download-text2">Software Downloads</p>
						</div>
						<div id="vmos-zhuan">
							<img src="/static/index/img/02.jpg" id="vmos-zhuan-img" />
							<p id="vmos-zhuan-text">V M O S 专 区</p>
							<p id="vmos-zhuan-text2">V M O S Z o n e</p>
						</div>
					</div>
					<div id="about">
						<img src="/static/index/img/03.jpg" id="about-img" />
						<p id="about-text">关 于 我 们</p>
						<p id="about-text2">A b o u t &nbsp&nbsp u s</p>
					</div>
				</div>
			</div>

		</div>


		</div>

	</body>
</html>
