{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>WYS Team -「Force of software」</title>
		<link href="{% static 'index/css/index-m.css' %}" type="text/css" rel="stylesheet" />
		<link rel="shortcut icon" href="{% static 'index/img/ico.png' %}">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<script type="text/javascript" src="{% static 'index/js/autobg-m.js' %}" ></script>
	</head>
	<body>
		<div id="main">
			<header>
				<div id="up-list">
					<span id="up-list-text">WYS TEAM官网</span>
				</div>
			</header>
			<div id="card">
				<div id="soft-download">
					<img src="/static/index/img/01-.jpg" id="soft-download-img" />
					<p id="soft-download-text">软 件 下 载</p>
					<p id="soft-download-text2">Software Downloads</p>
				</div>
				<div id="two-three-main">
					<div id="two-three-2">
						<div id="wys-tools-inline">
							<div id="wys-tools">
								<img src="/static/index/img/wys-tools.jpg" id="wys-tools-img" />
								<p id="wys-tools-text">W Y S &nbsp&nbspT o o l s &nbsp&nbsp5</p>
								<p id="wys-tools-text2">即 将 上 线</p>
							</div>
						</div>
						<div id="vmos-zhuan">
							<img src="/static/index/img/02.jpg" id="vmos-zhuan-img" />
							<p id="vmos-zhuan-text">V M O S 专 区</p>
							<p id="vmos-zhuan-text2">V M O S Z o n e</p>
						</div>
					</div>
				</div>
			</div>
			<div id="more">
				<img id="home" src="{% static 'index/img/home-m.png' %}" />
				<img id="menu" src="{% static 'index/img/menu-burger.png' %}" />
			</div>
		</div>
	</body>
</html>
