{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>注册</title>
		<link href="{% static 'login/css/index.css' %}" type="text/css" rel="stylesheet" />
		<link rel="shortcut icon" href="{% static 'login/img/ico.png' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
	</head>
	<body>
		<div id="main">
			<div id="mohu"></div>
			<div class="content">
				<div id="up-list">
					<div id="logo_regi">
						<navigator style="display:flex;flex-direction:column;justify-content: center" url="../">
							<img src="{% static 'login/img/logo.png' %}" id="logo" />
						</navigator>
						<span id="login_text">L o g i n</span>
					</div>
					<a id="please_login" href="/"><返回</a>
				</div>
				<div id="form_div">
					<p style="color:red;font-size:20px">{{ error_msg }}</p>
					<form action="/login/" method="post">
						{% csrf_token %}
						<table>
							<tr>
								<td><input type="text" name="username" placeholder="用户名"></td>
							</tr>
							<tr>
								<td><input type="password" name="password" placeholder="密码"></td>
							</tr>
							<tr>
								<td><img src="{% url 'index:captcha_img' %}"></td>
							</tr>
							<tr>
								<td><input type="text" name="captcha" placeholder="验证码"></td>
							</tr>
							<tr>
								<td><input type="submit" name="submit" value="登录" id="sub"><button
										id="register">注册</button></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</body>
	<script>
	</script>
	
</html>
